table{
    width: 100%;
    border-collapse: collapse;
}
td, th{
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.425);
}
.relatorio_cadastro{
    margin: auto;
    width: 80%; 
    background-color: #424242;
    color: rgb(184, 247, 90);
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
    border-color: rgb(81, 255, 0);
}
h1{
    text-align: center;
}