.container-form {
    position: absolute;
    width: 100%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    z-index: 1;
    margin: 0 auto;
    overflow-y: auto;
}

.container-form h2 {
    color: #3D437A;
    font-size: 30px;
    text-align: center;
}

.container-form p {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.container-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-form form input,
.container-form form select {
    flex-grow: 1;
    height: 40px;
    margin-top: 10px;
    background: white;
    color: #333;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-form form input[name=name],
.container-form form input[name=email]{
    flex-basis: 100%;
}

.container-form form input[name=CPF],
.container-form form input[name=Senha],
.container-form form input[name=telefone]{
    flex-basis: 45%;
    margin-right: 5px;
}

.container-form form input[name=CEP],
.container-form form input[name=Senha2],
.container-form form input[name=DatadeNascimento]{
    flex-basis: 45%;
    margin-left: 5px;
}

.container-form form input[name=endereco]{
    flex-basis: 80%;
    margin-right: 5px;
}

.container-form form input[name=numero]{
    flex-basis: 15%;
    margin-left: 5px;
}

.container-form form input[name=cidade],
.container-form form select[name=genero]{
    flex-basis: 30%;
    margin-right: 5px;
}

.container-form form select[name=estado],
.container-form form input[name=profissao]{
    flex-basis: 30%;
    margin: 10px 5px 0;
}

.container-form form input[name=pais],
.container-form form select[name=estadoCivil]{
    flex-basis: 30%;
    margin-left: 5px;
}

.btn {
    margin-top: 20px;
    display: inline-block;
    background-color: #00C59E;
    color: white;
    cursor: pointer;
    font-size: 22px;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}


@media (max-width: 768px) {

    header {
        position: sticky;
        top: 0;
    }

    .container-form {
        flex-grow: 1;
        padding: 10px;
        top: 0;
        overflow-y: auto;   
    }

    footer {
        position: absolute;
        bottom: 0;
        top: 0;
        clear: both;
    }

    .container-form form input[name=name],
    .container-form form input[name=email],
    .container-form form input[name=CPF],
    .container-form form input[name=Senha],
    .container-form form input[name=telefone],
    .container-form form input[name=CEP],
    .container-form form input[name=Senha2],
    .container-form form input[name=DatadeNascimento],
    .container-form form input[name=endereco],
    .container-form form input[name=numero],
    .container-form form input[name=cidade],
    .container-form form select[name=genero],
    .container-form form select[name=estado],
    .container-form form input[name=profissao],
    .container-form form input[name=pais],
    .container-form form select[name=estadoCivil] {
        flex-basis: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .btn {
        font-size: 18px;
        padding: 8px 15px;
    }
}

@media (min-width: 768px) {
    .container-form form input {
        width: calc(33.33% - 10px); /* 3 inputs por linha */
    }
    
    .container-form form input[type=tel],
    .container-form form input[type=date],
    .container-form form input[type=password] {
        width: calc(50% - 10px); /* 2 inputs por linha para estes campos */
    }

    .container-form form a {
        width: 100%;
    }
}
